<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>155078096335-ce4brbg01f02t4h9rua80gj61t3ckm75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.155078096335-ce4brbg01f02t4h9rua80gj61t3ckm75</string>
	<key>API_KEY</key>
	<string>AIzaSyAWABgNUqVNLjJ2y2KQLTo_cZsZirkVeKA</string>
	<key>GCM_SENDER_ID</key>
	<string>155078096335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likeevent.flutterApplicationLikeevent</string>
	<key>PROJECT_ID</key>
	<string>likeevent-40b8e</string>
	<key>STORAGE_BUCKET</key>
	<string>likeevent-40b8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:155078096335:ios:795dd6a4814c7267804eba</string>
</dict>
</plist>